---
import Layout from "../../layouts/Page.astro";
import TopicList from "../../components/TopicList.astro";
---

<Layout
  title="Topics"
  description="An overview of all the various topics on our blog."
>
  <h1>All the topics from our blog</h1>
  <TopicList topics="all" />
</Layout>
