---
import Layout from "../../layouts/Page.astro";
import { CollectionEntry, getCollection } from "astro:content";
import type { GetStaticPaths, Page } from "astro";
import PostList from "../../components/PostList.astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const posts = (await getCollection("blog"))
    .filter((post) => post.data.draft === false)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
  return paginate(posts, {
    pageSize: 4,
  });
};

export type Props = {
  page: Page<CollectionEntry<"blog">>;
};

const { page } = Astro.props;
---

<Layout
  title="Blog"
  description="Our engineers write about the technical challanges they have faced."
>
  <PostList posts={page.data} />
  <div class="pagination">
    {page.url.prev ? <a href={page.url.prev}>Previous</a> : <span />}
    {page.url.current ? <span>Page {page.currentPage}</span> : <span />}
    {page.url.next ? <a href={page.url.next}>Next</a> : <span />}
  </div>
</Layout>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  ul li {
    display: flex;
  }
  ul li (time) {
    flex: 0 0 130px;
    font-style: italic;
    color: #595959;
  }
  ul li a:visited {
    color: #8e32dc;
  }
  .post-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .post-list li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .post-list li h2 {
    margin: 0;
  }
  .post-list li p {
    margin: 0;
  }
  .pagination {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    width: 100%;
  }
  .pagination span {
    text-align: center;
  }
  .pagination span + a {
    text-align: right;
  }
</style>
