---
import Layout from "../layouts/Page.astro";
---

<Layout
  title="Topics"
  description="An overview of all the various topics on our blog."
>
  <h1>404 - not found :(</h1>
  <div class="not-prose">
    <a class="btn" href="/blog">Go to the homepage</a>
  </div>
</Layout>
