---
import Layout from "../layouts/Page.astro";
import Searchbar from "../components/Searchbar.astro";
---

<Layout title="Search" description="Lorem ipsum dolor sit amet">
  <h1>Search</h1>
  <p>Search for any title, description or post content</p>
  <Searchbar />
</Layout>
