---
import { getCollection } from "astro:content";
import Search from "./Search";

const posts = (await getCollection("blog"))
  .filter((post) => post.data.draft === false)
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<div>
  <h1>Search</h1>
  <p>Search for any title, description or post content</p>
  <Search client:load searchList={posts} />
</div>
