---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import AuthorInfo from "../components/AuthorInfo.astro";

type Props = {
  title: string;
  description: string;
  authors: Array<CollectionEntry<"author">>;
};

const { authors, title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <h1>{title}</h1>
      <slot />

      {
        authors.map((author) => (
          <article>
            <AuthorInfo authorId={author.slug} showPosts />
          </article>
        ))
      }
    </main>
    <Footer />
    <style>
      article {
        margin: 1rem 0;
      }
    </style>
  </body>
</html>
