---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

type Props = {
  title: string;
  description: string;
  frontmatter?: {
    title: string;
    description: string;
  };
};

const { frontmatter } = Astro.props;
const title = frontmatter?.title || Astro.props.title;
const description = frontmatter?.description || Astro.props.description;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>

  <body>
    <Header transition:persist />
    <main class="container prose dark:prose-invert">
      <slot />
    </main>
    <Footer />
  </body>
</html>
